python-dev-tools
click
enum-compat
enum34
eventlet==0.30.2
Flask
Flask-SocketIO
gevent
gevent-websocket
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
olefile
opencv-python-headless
opencv-contrib-python-headless
Pillow
python-engineio
python-socketio
redis
six
Werkzeug
